.nav-link {
  color: #fff !important;
}

.profile_drop{
  margin-left: auto;
  margin-right: 0 !important;
}

.container{
  background-color: #F5F5F5;
}

.upload-containter{
  background-color: white;
  max-width: 53%;
  margin-top: 1%;
}

.padding-1{
  padding: 1%;
}

.image-desc{
    margin-left: auto;
    margin-right: auto;
    width: 62%;
    max-width: 100%;
    padding: 20px 15px 15px;
}

.show-xs{
  visibility: hidden;
}

@include media-breakpoint-up(xs) {
  .show-sx{
    visibility: visible;
  }
}

.nav-tabs{
  border-bottom: 1px solid gray;
}

.nav-selected{
  border-bottom: 2px solid gray;
}

.thumbnail{
  position:relative;
}

.post-content {
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.7;
  margin: 0px 5px 5px;
  bottom: 0;
  position: absolute;
  width: 86%;
  text-align: center;
}

.top-row{
  background-color: #343a40;
}

body{
  background-color: #F5F5F5;
  font-family: sans-serif;
  padding-top: 4rem
}

html, body, .container{
  height: 100%;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.auto-height{
  height: auto !important;
}

.btn-warning{
  position: absolute;
  bottom: 0
}