<!doctype html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/login.css">
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      {{message}}
    </div>
    {%endfor%}
    <div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Form -->
      <form action="" method="POST">
        <input type="text" id="login" class="fadeIn first" name="login" placeholder="Login">
        <input type="password" id="password" class="fadeIn second" name="password" placeholder="Enter your password">
        <input type="password" id="password" class="fadeIn third" name="password_check" placeholder="Confirm your password">
        <input type="password" id="password" class="fadeIn fourth" name="pass_phrase" placeholder="Enter a pass phrase" title="Кодовое слово, которое сообщил вам куратор проекта">
        <input type="submit" class="fadeIn fifth" value="Log In">
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="/login">Назад</a>
      </div>
    </div>
  </div>
    </div>
  </body>
</html>